@font-face {
  font-family: 'Procrastinating Pixie';
  src: url('../../public/fonts/ProcrastinatingPixie-WyVOO.ttf');
}
@font-face {
  font-family: 'Varino';
  src: url('../../public/fonts/VarinonormalRegular-1GXaM.ttf');
}
@font-face {
  font-family: 'MadsenseFreeTrial';
  src: url('../../public/fonts/MadsenseFreeTrial-qZmDV.otf') format('opentype');
}